{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^assets/(.*)$",
    "^constants/(.*)$",
    "^configs/(.*)$",
    "^auth/(.*)$",
    "^utils/(.*)$",
    "^helpers/(.*)$",
    "^types/(.*)$",
    "^store/(.*)$",
    "^context/(.*)$",
    "^hooks/(.*)$",
    "^app/(.*)$",
    "^api/(.*)$",
    "^components/(.*)$",
    "^pages/(.*)$",
    "^[./]((?!.(sc|sa|c)ss)(?!.json).)*$",
    "\\.json$",
    "\\.(sc|sa|c)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
